{% extends "base.html" %}

{% block  lab %}Лабораторная работа 9{% endblock %}

{% block main %}
    <h1>Поздравления</h1>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'lab9.css') }}">

<div class="lab9back">
    <div class="form-inner">
        <form method="post" action="/lab9/step/name" onsubmit="return validateName()">
            <div>
                <label for="name">Введите ваше имя:</label>
                <input type="text" id="name" name="name" >
            </div>
            <div>
                <button type="submit">Продолжить</button>
            </div>
        </form>
    </div>
    <div class="form-outer"></div>
</div>
<script>
function validateName() {
    var name = document.getElementById("name").value;
    if (name == "") {
        alert("Пожалуйста, введите имя");
        return false;
    } 
    return true;  
}
</script>
{% endblock %}

